@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
}
h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-left: 10px;
}
.main{
  display: flex;
  box-shadow: 2px 2px 2px black;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;

}
.youtube{
  width: 80px;
  margin-left: 20%;

}
.container {
  display: grid;
  align-items: center;
  min-height: 70vh;
  min-width: fit-content;
  max-width: 800px;
  margin: 1% auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.container.remove{
  min-height: 40vh;
}

#table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.129);
  overflow: hidden;
}

#table th,
#table td {
  padding: 10px;
  text-align: left;
  background-color: #fff;
}


th {
  background-color: #f2f2f2;
  color: black;
  text-transform: uppercase;
}


#table tr:nth-child(odd) td {
  background-color: #007bff14;
}

#table tr:nth-child(even) td {
  background-color: #fff;
}

tr:hover {
  background-color: #e6e6e6;
}


#table th {
  border: 2px solid #9dcbff;
}
#table td {
  border: 0.5px solid #9dcbff;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#pagination button {
  font-size: 20px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

#pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* Youtuber count */
.totalYtbCount {
  text-align: center;
  background-color: red ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 1% 10% 1% auto ;
  border-radius: 0.7em;
  color: white;
  height: max-content;
  padding: 15px 10px;

}
.count {
  font-weight: bold;
}

.displayCurrentPage {
  font-weight: bold;
}

/* Search form */
form {
  display: flex;
  align-items: center; 
  margin-top: 15px; 
  margin-bottom: 10px
}
input {
  padding: 10px; 
  width: auto;
  border-radius: 5px;
  border: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

input:focus { 
  border-radius: 5px;
  border: none; 
  box-shadow: 0 0 5px #007BFF;

}
button {
  background-color: #007BFF;
  color: white; 
  padding: 10px 20px;
  border-radius: 5px; 
  border: none;
  margin-left: 10px; 
  cursor: pointer;
}
#search-submit:hover{
  box-shadow: 0 0 5px #007BFF;
}

.error-message{
  text-align: center;
  color: #d40606;
}


#addyoutuber {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: max-content;
}
.search_and_buttonsection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_and_buttonsection button {
  width: auto; /* Adjust the width as needed */
}

.addYoutubercontainer{
  display: grid;
  align-items: center;
  min-height: 70vh;
  width: 50%;
  margin: 1% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
